Repository jellyfin/jellyfin-vue, pull requests merged in 2020-12, with the labels that each got.

#362 fix(personlist): fix duplicate icon and picture in person list
  components/PersonList.vue
Labels: bug

#213 feat(blurhash): Non-blocking blurhash decoding
  components/BlurhashCanvas.vue
  nuxt.config.ts
  package.json
  plugins/workers/blurhash.worker.ts
  yarn.lock
Labels: enhancement, hacktoberfest

#380 fix(tv shows tabs): fix no items showing in seasonTabs
  store/tvShows.ts
Labels: bug

#381 fix(home sections): Fix no items appearing in home sections
  components/HomeSection.vue
  pages/index.vue
  store/homeSection.ts
  store/index.ts
Labels: blocked

#444 chore(dependencies): update fontsource dependencies
  assets/global.scss
  package.json
  yarn.lock
Labels: dependencies

#455 feat(homeheader): Header is now more polite and smooth while content is loading
  assets/global.scss
  assets/styles/HomeHeader.scss
  components/Layout/HomeHeader/HomeHeader.vue
  components/Layout/HomeHeader/HomeHeaderItems.vue
  components/Layout/HomeHeader/HomeHeaderWelcome.vue
  components/Layout/Images/BlurhashImage.vue
  locales/en-US.json
Labels: enhancement
