Repository jellyfin/jellyfin-vue, pull requests merged in 2021-06, with the labels that each got.

#1171 Use pull_request_target and fine-tune rebase action
  .github/workflows/automation.yml
  .github/workflows/commands.yml
  .github/workflows/label.yml
  .github/workflows/merge-conflicts.yml
  .github/workflows/project-automation.yml
Labels: github_actions

#1026 refactor(css): add some context to a few hacks and remove duplicated rule
  client/assets/global.scss
  client/components/Layout/AudioControls.vue
  client/components/Layout/VolumeSlider.vue
Labels: vue

#1254 [Vue 3] Refactor the home page header and improve migration
  src/App.vue
  src/components/layout/home/headerSection/HomeHeader.vue
  src/components/layout/home/headerSection/HomeHeaderItems.vue
  src/components/layout/home/headerSection/SwiperProgressBar.vue
  src/components/layout/home/headerSection/items/HomeHeaderAlbumTitle.vue
  src/components/layout/home/headerSection/items/HomeHeaderEpisodeTitle.vue
  src/components/layout/home/headerSection/items/HomeHeaderGenericTitle.vue
  src/layouts/default.vue
  src/main.ts
  src/router.ts
  src/swiper.d.ts
  src/views/home.vue
  vite.config.ts
Labels: vue3
