Repository jellyfin/jellyfin-vue, pull requests merged in 2021-12, with the labels that each got.

#1615 ci: fix docker SSR start command and non-CI docker builds
  .dockerignore
  .github/workflows/Dockerfile.ssr
  Dockerfile
  Dockerfile.ssr
Labels: github_actions, docker

#1618 fix(screenfull): check ref existance before trying to fullscreen
  src/components/Players/PlayerManager.vue
Labels: vue

#1619 ci: add build deps needed on arm platforms
  Dockerfile
  Dockerfile.ssr
Labels: docker

#1627 Feat/commit link
  .github/workflows/build.yml
  .github/workflows/docker.yml
  src/components/Layout/CommitLink.vue
  src/layouts/default.vue
Labels: github_actions, vue

#1647 chore(ci): fix tags only referencing a single arch
  .github/workflows/release.yml
  .github/workflows/unstable.yml
  Dockerfile
Labels: github_actions, docker

#1636 feat(menu): show context menu when clicking on parent element
  src/components/Item/ItemMenu.vue
Labels: vue
