Repository jellyfin/jellyfin-vue, pull requests merged in 2021-04, with the labels that each got.

#944 fix: items plugin was unregistered
  client/nuxt.config.ts
  client/plugins/userLibrary.ts
Labels: plugins

#948 fix(ui): use an icon button for the save queue feature
  client/components/Buttons/QueueButton.vue
Labels: vue

#951 ci(rebase): use our bot for rebasing instead of the org
  .github/workflows/rebase.yml
Labels: github_actions

#952 ci(rebase): react on comment when rebase starts
  .github/workflows/rebase.yml
Labels: github_actions

#954 fix(playback): use new queue when setting the current item index
  client/store/playbackManager.ts
Labels: vuex

#968 ci(rebase): quote reaction
  .github/workflows/rebase.yml
Labels: github_actions

#963 fix(axe): import axe according to the axe docs to fix warnings
  client/nuxt.config.ts
  client/plugins/axe.ts
Labels: plugins

#744 feat(video playback): implement picture in picture mode
  client/components/Players/PlayerManager.vue
  client/components/Players/VideoPlayer.vue
Labels: vue

#969 fix(websocket): fix item updating
  client/store/plugins/websocket.ts
Labels: vuex

#977 fix(layout): exclude fullscreen-playback from the pages kept alive
  client/layouts/default.vue
Labels: vue

#973 feat(websocket): handle UserDataChanged messages to update the item store
  client/store/plugins/websocket.ts
Labels: vuex

#988 fix(card): fix pogress bar position
  client/components/Item/Card/Card.vue
Labels: vue

#989 feat(homesections): disable the pagination arrows if swiper is at the end or the beginning
  client/components/Layout/SwiperSection.vue
Labels: vue

#993 fix(library): loading state always set for calls
  client/pages/library/_viewId.vue
Labels: vue

#1012 fix(ui): hide arrows when swiper shows all available items
  client/components/Layout/SwiperSection.vue
Labels: vue

#1013 chore(ci): replace with actions-label-merge-conflict
  .github/workflows/merge-conflicts.yml
Labels: github_actions

#743 test(user store): add tests for user store
  client/store/__tests__/user.spec.ts
  client/store/user.ts
Labels: vuex

#1025 fix(ui): slight improvements to audio controls
  client/components/Layout/AudioControls.vue
Labels: vue

#995 fix: genre chips margin
  client/pages/item/_itemId/index.vue
  client/pages/musicalbum/_itemId/index.vue
  client/pages/series/_itemId/index.vue
Labels: vue

#972 fix(library): fixed mixed library item fetching
  client/pages/library/_viewId.vue
Labels: vue

#986 Feat/episode serie link
  client/components/Item/Card/Card.vue
Labels: vue
