Repository jellyfin/jellyfin-vue, pull requests merged in 2021-01, with the labels that each got.

#484 feat(homeheader): add parallax effect to swiper and minor improvements
  components/Layout/HomeHeader/HomeHeaderItems.vue
Labels: enhancement

#548 test(userviews): add test for userviews store, and clear store on logout
  schemes/jellyfinScheme.ts
  store/__tests__/userViews.spec.ts
  store/userViews.ts
Labels: tests

#532 test(backdrop): add test for backdrop store
  components/Layout/HomeHeader/HomeHeaderItems.vue
  pages/playback/index.vue
  store/__tests__/backdrop.spec.ts
  store/backdrop.ts
Labels: tests

#528 FormsHelper, TimeUtils - Add test
  mixins/__tests__/formsHelper.spec.ts
  mixins/__tests__/timeUtils.spec.ts
Labels: tests

#525 test(device profile): add tests for device profile
  store/__tests__/deviceProfile.spec.ts
Labels: tests

#527 test(snackbar): add tests for snackbar store
  store/__tests__/snackbar.spec.ts
  store/snackbar.ts
Labels: tests

#533 test(page): add tests for page store
  store/__tests__/page.spec.ts
Labels: blocked, tests

#540 test(playback store): add tests for playback store
  store/__tests__/playbackManager.spec.ts
  store/playbackManager.ts
Labels: tests

#609 feat: queue management, add to queue, play next and global shuffle
  components/Buttons/GlobalPlaybackButton.vue
  components/Buttons/LikeButton.vue
  components/Buttons/PlayButton.vue
  components/Buttons/QueueButton.vue
  components/Item/Card.vue
  components/Item/ItemMenu.vue
  components/Item/MediaInfo.vue
  components/Layout/AudioControls.vue
  components/Players/DraggableQueue.vue
  components/Players/TrackList.vue
  components/Wizard/WizardAdminAccount.vue
  components/Wizard/WizardLanguage.vue
  components/Wizard/WizardMetadata.vue
  components/Wizard/WizardRemoteAccess.vue
  locales/en-US.json
  mixins/timeUtils.ts
  nuxt.config.ts
  package.json
  pages/genre/_itemId/index.vue
  pages/item/_itemId/index.vue
  pages/library/_viewId.vue
  plugins/components/vueDraggable.ts
  store/__tests__/playbackManager.spec.ts
  store/playbackManager.ts
  utils/playbackUtils.ts
  yarn.lock
Labels: blocked
