Repository jellyfin/jellyfin-vue, pull requests merged in 2021-03, with the labels that each got.

#757 refactor(like button): update data before requesting like/unlike from server
  components/Buttons/LikeButton.vue
Labels: vue

#814 fix: change hash used for tags from 8 characters to 7 to match github
  .github/workflows/docker.yml
Labels: github_actions

#770 Add Jest linting and enforce test consistency
  .eslintrc.js
  CONTRIBUTING.md
  codecov.yml
  components/Buttons/__tests__/LikeButton.spec.ts
  components/Buttons/__tests__/PlayButton.spec.ts
  components/Layout/Images/__tests__/BlurhashCanvas.spec.ts
  components/Layout/__tests__/SettingsPage.spec.ts
  mixins/__tests__/formsHelper.spec.ts
  mixins/__tests__/htmlHelper.spec.ts
  mixins/__tests__/itemHelper.spec.ts
  mixins/__tests__/timeUtils.spec.ts
  mixins/itemHelper.ts
  package.json
  store/__tests__/backdrop.spec.ts
  store/__tests__/deviceProfile.spec.ts
  store/__tests__/page.spec.ts
  store/__tests__/playbackManager.spec.ts
  store/__tests__/servers.spec.ts
  store/__tests__/snackbar.spec.ts
  store/__tests__/tvShows.spec.ts
  store/__tests__/userViews.spec.ts
  utils/__tests__/items.spec.ts
  yarn.lock
Labels: vuex

#795 chore: push docker images to ghcr.io alongside DockerHub
  .github/workflows/Dockerfile.nginx
  .github/workflows/Dockerfile.ssr
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
Labels: github_actions

#787 Move Websocket message handling to a Vuex plugin
  layouts/default.vue
  store/index.ts
  store/plugins/websocket.ts
Labels: vue, vuex

#737 fix(library filters): disable library filters when there are no items in library
  locales/en-US.json
  pages/library/_viewId.vue
Labels: vue

#736 fix(settings home): disable links to setting pages that are not yet implemented
  pages/settings/index.vue
Labels: vue

#746 feat(light theme): add some light theme colors
  assets/variables.scss
  components/Layout/Images/UserImage.vue
Labels: vue

#728 fix(skeleton home section): fix missing margin on skeleton home sections heading
  components/Skeletons/SkeletonHomeSection.vue
Labels: vue

#780 Improve PWA experience
  assets/global.scss
  components/Layout/AudioControls.vue
  components/Layout/Backdrop.vue
  components/Players/PlayerManager.vue
  layouts/default.vue
  nuxt.config.ts
Labels: vue

#727 feat(mark played): add ability to mark items as played or unplayed from card
  components/Buttons/MarkPlayedButton.vue
  components/Buttons/__tests__/MarkPlayedButton.spec.ts
  components/Item/Card/Card.vue
  locales/en-US.json
  mixins/__tests__/itemHelper.spec.ts
  mixins/itemHelper.ts
  pages/item/_itemId/index.vue
Labels: vue

#821 perf(memory): unsubscribe from mutation watchers on destroy
  components/Players/AudioPlayer.vue
  components/Players/PlayerManager.vue
  components/Players/VideoPlayer.vue
Labels: vue

#784 fix: padding on the settings page
  pages/settings/index.vue
Labels: vue

#840 Reduce code smells on Sonarcloud
  .eslintrc.js
  components/Buttons/LikeButton.vue
  components/Item/Card/Card.vue
  components/Item/Metadata/ImageSearch.vue
  components/Item/Metadata/MetadataEditor.vue
  components/Item/Metadata/PersonEditor.vue
  components/Item/RelatedItems.vue
  components/Item/TrackSelector.vue
  components/Players/PlayerDialog.vue
  package.json
  pages/item/_itemId/index.vue
  pages/series/_itemId/index.vue
  pages/wizard.vue
  schemes/jellyfinScheme.ts
  store/displayPreferences.ts
  utils/playbackProfiles/helpers/codecProfiles.ts
  yarn.lock
Labels: vue, vuex

#844 fix(snackbar): display the string instead of translating it
  components/System/Snackbar.vue
Labels: vue

#764 Add an item store
  jest-helpers.d.ts
  jest.config.js
  store/__tests__/items.spec.ts
  store/index.ts
  store/items.ts
Labels: vuex

#863 fix: remove .ts extension from item store test
  store/__tests__/items.spec.ts
Labels: vuex

#815 chore: switch to npm
  .devcontainer/devcontainer.json
  .docker/package-lock.json
  .github/workflows/Dockerfile.ssr
  .github/workflows/build.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  .github/workflows/main.yml
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .yarnrc
  Dockerfile
  Dockerfile.static
  README.md
  package-lock.json
  package.json
  yarn.lock
Labels: docker, github_actions

#639 Add server-controlled item data updates
  store/plugins/websocket.ts
Labels: blocked, vuex

#725 perf(build): optimize build size
  components/Forms/LoginForm.vue
  components/Item/ItemGrid.vue
  components/Item/Metadata/MetadataEditor.vue
  components/Players/AudioPlayer.vue
  components/Players/TrackList.vue
  components/Players/VideoPlayer.vue
  mixins/timeUtils.ts
  nuxt.config.ts
  pages/index.vue
  pages/login.vue
  pages/settings/index.vue
  store/__tests__/backdrop.spec.ts
  store/__tests__/deviceProfile.spec.ts
  store/__tests__/page.spec.ts
  store/__tests__/playbackManager.spec.ts
  store/__tests__/servers.spec.ts
  store/__tests__/snackbar.spec.ts
  store/__tests__/tvShows.spec.ts
  store/__tests__/userViews.spec.ts
  store/playbackManager.ts
  utils/playbackUtils.ts
Labels: vue, vuex

#859 ci: add rebase workflow
  .github/workflows/rebase.yml
Labels: github_actions

#843 Refactor PlayButton and remove GlobalPlayButton
  .vscode/extensions.json
  components/Buttons/GlobalPlaybackButton.vue
  components/Buttons/PlayButton.vue
  components/Buttons/__tests__/PlayButton.spec.ts
  components/Item/Card/Card.vue
  components/Layout/HomeHeader/HomeHeaderItems.vue
  mixins/itemHelper.ts
  pages/genre/_itemId/index.vue
  pages/item/_itemId/index.vue
  pages/library/_viewId.vue
  pages/musicalbum/_itemId/index.vue
  pages/series/_itemId/index.vue
Labels: vue

#875 ci: use the jellyfin-bot token for Github Actions
  .github/workflows/label.yml
  .github/workflows/merge-conflicts.yml
Labels: github_actions

#882 chore: fix version of auto-label-merge-conflict
  .github/workflows/merge-conflicts.yml
Labels: github_actions

#884 fix(docker): fix dockerfile not building the SSR version properly
  .github/workflows/docker-release.yml
  .github/workflows/docker.yml
  Dockerfile
  README.md
  package.json
Labels: docker, github_actions

#632 refactor(displaypreferences): refactor the store
  .vscode/settings.json
  components/Forms/LoginForm.vue
  components/Layout/ConnectionMonitor.vue
  components/Layout/SyncingMonitor.vue
  components/System/DarkModeToggle.vue
  components/System/LocaleSwitcher.vue
  components/System/Snackbar.vue
  layouts/default.vue
  layouts/fullpage.vue
  locales/en-US.json
  mixins/settingsHelper.ts
  nuxt.config.ts
  package.json
  pages/index.vue
  pages/login.vue
  schemes/jellyfinScheme.ts
  store/clientSettings.ts
  store/displayPreferences.ts
  store/index.ts
  store/plugins/preferencesSyncPlugin.ts
  store/plugins/userPlugin.ts
Labels: merge conflict, vue, vuex

#877 feat(pages): validate item IDs when navigating to the pages
  pages/artist/_itemId/index.vue
  pages/genre/_itemId/index.vue
  pages/item/_itemId/index.vue
  pages/library/_viewId.vue
  pages/musicalbum/_itemId/index.vue
  pages/person/_itemId/index.vue
  pages/series/_itemId/index.vue
  utils/items.ts
Labels: vue

#890 check if OriginalTitle and Name values are same
  pages/item/_itemId/index.vue
Labels: vue

#897 feat(clickable-artist): add link to card-subtitle
  components/Item/Card/Card.vue
Labels: vue

#874 Improve page navigation and refactor home screen
  layouts/default.vue
  layouts/fullpage.vue
  pages/index.vue
  store/homeSection.ts
Labels: merge conflict, vue, vuex

#899 refactor(like-button): remove color on the like button
  components/Buttons/LikeButton.vue
  components/Buttons/__tests__/LikeButton.spec.ts
Labels: vue

#907 chore(eslint): enforce individual methods on lodash imports
  .eslintrc.js
  package-lock.json
  package.json
Labels: merge conflict

#908 ci: run merge conflict check on PR rebase
  .github/workflows/merge-conflicts.yml
Labels: github_actions

#912 fix(card artist subtitle): crashed with artist-less albums
  client/components/Item/Card/Card.vue
Labels: vue

#921 feat(blurhashimage): reload images on window resize
  client/components/Layout/Images/BlurhashImage.vue
Labels: merge conflict, vue

#933 chore(i18n): reword some translations for consistency and making translations easier
  client/locales/en-US.json
  client/pages/musicalbum/_itemId/index.vue
Labels: vue

#917 feat(play-button): bring back the loading states of the play button
  client/components/Buttons/PlayButton.vue
Labels: merge conflict, vue

#932 fix(ui): use blurhash image for related items
  client/components/Item/RelatedItems.vue
Labels: vue

#938 fix(ui): span entire queue with hover background and standardize divider size
  client/components/Buttons/QueueButton.vue
  client/components/Players/DraggableQueue.vue
Labels: vue

#937 fix(ui): margin and layout changes for audio controls
  client/components/Item/ItemMenu.vue
  client/components/Layout/AudioControls.vue
Labels: vue
