Repository jellyfin/jellyfin-vue, pull requests merged in 2021-11, with the labels that each got.

#1572 fix(ui): "Soft" back arrow can be clicked when hidden
  src/plugins/directives/hide.ts
Labels: plugins

#1587 feat(subs): add styling to subtitles
  src/components/Players/HlsPlayer.vue
Labels: vue

#1588 fix(mediastreamselector): fix type detection on empty lists
  src/components/Buttons/PlaybackSettingsButton.vue
  src/components/Item/MediaStreamSelector.vue
  src/pages/item/_itemId/index.vue
Labels: vue

#1591 feat(playback): keep volume between playback sessions
  src/components/Players/HlsPlayer.vue
  src/components/Players/ShakaPlayer.vue
  src/store/playbackManager.ts
Labels: vue, vuex

#1590 feat(video): iPhone native fullscreen
  src/components/Players/HlsPlayer.vue
  src/components/Players/PlayerManager.vue
  src/plugins/supportedFeaturesPlugin.ts
Labels: vue, plugins
