Repository jellyfin/jellyfin-vue, pull requests merged in 2022-10, with the labels that each got.

#1799 fix: Movie/Episode with no default video track fix
  frontend/components/Item/MediaStreamSelector.vue
Labels: hacktoberfest, vue

#1795 Scrollbar now shows in only vertical directions
  frontend/components/Buttons/FilterButton.vue
Labels: vue

#1801 ci: build CloudFlare Pages on GitHub Actions
  .github/workflows/pull_request.yml
  .github/workflows/unstable.yml
  .node-version
  frontend/nuxt.config.ts
Labels: github_actions
