Repository jellyfin/jellyfin-vue, pull requests merged in 2023-01, with the labels that each got.

#1840 feat: fix rating decimals on media rating
  frontend/components/Item/MediaInfo.vue
Labels: vue

#1844 fix: remove requestIdleCallback as not supported by Safari
  frontend/src/components/Layout/Images/Blurhash/BlurhashImage.vue
  frontend/src/components/Players/DraggableQueue.vue
  frontend/src/main.ts
  frontend/src/store/clientSettings.ts
Labels: vue

#1846 Fix/display preferences
  frontend/src/store/clientSettings.ts
Labels: blocked

#1857 refactor(mediastreamselector): composition api
  frontend/src/components/Item/MediaStreamSelector.vue
Labels: vue

#1861 Fixed webos useragent
  frontend/plugins/nuxt/browserDetectionPlugin.ts
Labels: plugins

#1870 fix: SeasonTabs component
  frontend/src/components/Item/SeasonTabs.vue
Labels: vue

#1877 refactor(auth): remove computed property and fix some type errors
  frontend/src/components/Buttons/FilterButton.vue
  frontend/src/components/Buttons/LikeButton.vue
  frontend/src/components/Buttons/MarkPlayedButton.vue
  frontend/src/components/Forms/AddServerForm.vue
  frontend/src/components/Item/ItemMenu.vue
  frontend/src/components/Item/Metadata/MetadataEditor.vue
  frontend/src/components/Item/RelatedItems.vue
  frontend/src/components/Item/SeasonTabs.vue
  frontend/src/components/Layout/AppBar/Buttons/UserButton.vue
  frontend/src/components/Layout/Carousel/Item/ItemsCarousel.vue
  frontend/src/components/Playback/TrackList.vue
  frontend/src/components/Wizard/WizardLanguage.vue
  frontend/src/components/Wizard/WizardMetadata.vue
  frontend/src/components/Wizard/WizardRemoteAccess.vue
  frontend/src/pages/artist/_itemId/index.vue
  frontend/src/pages/genre/_itemId/index.vue
  frontend/src/pages/index.vue
  frontend/src/pages/item/_itemId/index.vue
  frontend/src/pages/library/_viewId.vue
  frontend/src/pages/metadata/index.vue
  frontend/src/pages/musicalbum/_itemId/index.vue
  frontend/src/pages/person/_itemId/index.vue
  frontend/src/pages/search.vue
  frontend/src/pages/series/_itemId/index.vue
  frontend/src/pages/server/login.vue
  frontend/src/pages/server/select.vue
  frontend/src/pages/settings/index.vue
  frontend/src/pages/wizard.vue
  frontend/src/plugins/remote/auth/index.ts
  frontend/src/plugins/remote/axios/index.ts
  frontend/src/plugins/remote/index.ts
  frontend/src/plugins/remote/sdk/index.ts
  frontend/src/plugins/remote/socket/index.ts
  frontend/src/plugins/router/index.ts
  frontend/src/plugins/router/middlewares/admin-pages.ts
  frontend/src/plugins/router/middlewares/login.ts
  frontend/src/store/clientSettings.ts
  frontend/src/store/items.ts
  frontend/src/store/playbackManager.ts
  frontend/src/store/userLibraries.ts
  frontend/src/utils/store-sync.ts
Labels: vue
